*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("./images/bg-mobile.svg");
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  color: white;
}

h1 {
  font-weight: 600;
  font-size: 1.7rem;
}

.body-text {
  line-height: 1.5;
  font-size: 1.125rem;
  margin-bottom: 2em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: hsl(257, 40%, 49%);
  background-color: white;
  padding: 1em 6em;
  border-radius: 100px;
  box-shadow: 2px 2px 5px rgb(51, 51, 51);
  margin-bottom: 5em;
}

.btn:hover,
.btn:focus {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

.btn:hover,
.social-link:hover,
.social-link:focus {
  transition: 150ms;
}

.btn:active {
  color: hsl(257, 40%, 49%);
  background-color: white;
}

.container {
  text-align: center;
}

.container,
header {
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 45%;
  margin-top: 2em;
}

.screenshot {
  width: 100%;
  margin-top: 3em;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-bottom: 1em;
}

.social-link {
  color: white;
}

.social-icon {
  color: white;
}

.social-link:hover,
.social-link:focus {
  color: hsl(300, 69%, 71%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: white;
  text-shadow: 2px 2px 5px black;
}

@media (min-width: 1000px) {
  body {
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
    text-align: left;
    margin-top: 2em;
  }

  .logo {
    max-width: 15%;
    margin-top: 4em;
  }

  .screenshot {
    max-width: 50%;
  }

  h1 {
    font-size: 3.5rem;
    max-width: 700px;
  }

  .body-text {
    font-size: 1.5rem;
    max-width: 750px;
  }

  .btn {
    padding: 1em 4em;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  .social-links {
    width: max-content;
    justify-content: center;
    margin-left: auto;
    margin-right: 6em;
  }

  footer {
    width: max-content;
    margin: 3em auto 0 auto;
  }
}
